---
import type { Match } from "../types/Match";

import DateBadge from "./DateBadge.astro";

type Props = {
  fixture: Match;
};

const { fixture } = Astro.props;
const {
  date,
  time,
  isCompleted,
  competition,
  venue,
  city,
  homeTeamName,
  homeScore = 0,
  awayTeamName,
  awayScore = 0,
} = fixture;

const timeStr = time.slice(0, time.length - 3);
---

<DateBadge date={date} isCompleted={isCompleted} />
<div>
  <span> {competition}:</span>
  <span>
    {
      homeTeamName
    }
    {homeScore}
  </span>{" "}
  -{" "}
  <span>
    {awayScore}
    {
      awayTeamName
    }
  </span>
</div>
<div>
  klo {timeStr}{" "}
  <span>
    {venue}
    {city ? `, ${city}` : ""}
  </span>
</div>
<br />
