---
import type { Match } from "../types/Match";

import DateBadge from "./DateBadge.astro";

type Props = {
  fixture: Match;
};

const { fixture } = Astro.props;
const {
  date,
  time,
  competition,
  venue,
  city,
  homeTeamName,
  homeScore = 0,
  awayTeamName,
  awayScore = 0,
} = fixture;

const timeStr = time.slice(0, time.length - 3);
---

<div style="display: flex; gap: 20px; margin-bottom: 10px;">
  <DateBadge date={date} />
  <div>
    <div>
      {competition}:
      <span class={homeScore > awayScore ? "winner" : ""}>
        {homeTeamName}
      </span>
      {homeScore} -
      {awayScore}
      <span class={homeScore < awayScore ? "winner" : ""}>
        {awayTeamName}
      </span>
      <div>
        klo {timeStr}{" "}
        <span>
          {venue}
          {city ? `, ${city}` : ""}
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .winner {
    font-weight: 700;
  }
</style>
