---
import type { Match } from "../types/Match";

import DateBadge from "./DateBadge.astro";

type Props = {
  fixture: Match;
};

const { fixture } = Astro.props;
const {
  date,
  time,
  competition,
  venue,
  city,
  homeTeamName,
  homeScore = 0,
  awayTeamName,
  awayScore = 0,
} = fixture;

const timeStr = time.slice(0, time.length - 3);
---

<div class="fixture">
  <DateBadge date={date} />
  <div>
    <div>
      <div class="details competition">
        {competition}
      </div>
      <span class={homeScore > awayScore ? "winner" : ""}>
        {homeTeamName}
        {homeScore}
      </span>
      -
      <span class={homeScore < awayScore ? "winner" : ""}>
        {awayScore}
        {awayTeamName}
      </span>
      <div class="details">
        klo {timeStr}{" "}
        <span>
          {venue}
          {city ? `, ${city}` : ""}
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .fixture {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
  }

  .winner {
    font-weight: 700;
    color: var(--color-light);
  }

  .details {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.025em;

    > span {
      color: #bbb;
      border-left: 1px solid #655;
      margin: 0.3em;
      padding-left: 0.65em;
    }
  }

  .competition {
    color: var(--color-accent);
    font-weight: 700;
  }
</style>
